# EditorConfig aide à maintenir des styles de codage cohérents pour plusieurs développeurs
# travaillant sur le même projet dans divers éditeurs et IDE.
# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Fichiers Markdown
[*.md]
trim_trailing_whitespace = false


# Fichiers batch Windows
[*.bat]
end_of_line = crlf

# Fichiers YAML
[*.{yaml,yml}]
indent_size = 2

# Fichiers JSON
[*.json]
indent_size = 2

# Fichiers TypeScript et JavaScript
[*.{ts,js,tsx,jsx}]
indent_size = 2

# Fichiers CSS, SASS, SCSS
[*.{css,sass,scss}]
indent_size = 2

# Fichiers HTML
[*.html]
indent_size = 2
